Lead followup and status tracking.json
{
  "name": "Lead followup and status tracking",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Service Request",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Service needed",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Consultation"
                  },
                  {
                    "option": "Sales"
                  },
                  {
                    "option": "Customer Service"
                  },
                  {
                    "option": "Bookings"
                  },
                  {
                    "option": "Chat with Customer Agent"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1680,
        176
      ],
      "id": "34635956-4bf2-443f-92bc-7a483787b859",
      "name": "On form submission",
      "webhookId": "d56e7e3e-74ca-4f7b-93ad-cd0a99f1adf3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2b7abda-cad3-4dcd-a48f-2437a30b5e7b",
              "name": "First Name",
              "value": "={{ $json['Full Name'].split(\" \")[1] }}",
              "type": "string"
            },
            {
              "id": "870ffbc8-6403-4a5c-bc12-5c2efdc60a00",
              "name": "Last Name",
              "value": "={{ $json['Full Name'].split(\" \")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        176
      ],
      "id": "0fcb0a44-d985-4720-8e5b-d66cc6e5dd96",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Consultation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "596d75c1-0101-4409-a3c7-fcf459fd129f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "consultation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ffc33a3-8632-488f-add4-132f71fd8e13",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "52db1691-18c8-4058-a98a-78fca2bdf40b",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Customer Service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "86890966-e236-4ebd-9dcc-06f1fbf8b006",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Bookings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b01f73c8-0e7e-43e8-8409-98fb97b9860f",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Chat with Customer Agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Agent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1008,
        128
      ],
      "id": "bb5c8618-2012-4a41-b95d-5172c3c78e77",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Hi, {{ $('Edit Fields').item.json['First Name'] }}\nThanks for your interest in {{ $('On form submission').item.json['Service needed'] }}. Please reply to this email or contact us at imoleayoakogun@gmail.com to discuss next steps. We look forward to hearing from you.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -784,
        -112
      ],
      "id": "c6ef9bb1-1bcd-4525-9b80-319d57fae73c",
      "name": "Send a message",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Hi, {{ $json['First Name'] }}\nThanks for your interest in {{ $('On form submission').item.json['Service needed'] }}. Please reply to this email or contact us at imoleayoakogun@gmail.com to discuss next steps. We look forward to hearing from you. ",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -784,
        80
      ],
      "id": "eb3d7d1b-7c6c-498e-8dc4-53bbff145bef",
      "name": "Send a message1",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Hi, {{ $json['First Name'] }}\nThanks for your interest in {{ $('On form submission').item.json['Service needed'] }}. Please reply to this email or contact us at imoleayoakogun@gmail.com to discuss next steps. We look forward to hearing from you.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -784,
        272
      ],
      "id": "5db0c2ec-9752-4871-9d66-e1a76b0d0f1b",
      "name": "Send a message2",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Hi {{ $json['First Name'] }},\nThanks for your interest in {{ $('On form submission').item.json['Service needed'] }}. Please reply to this email or contact us at imoleayoakogun@gmail.com to discuss next steps. We look forward to hearing from you. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -784,
        464
      ],
      "id": "901e4f11-95f7-4e5f-89d3-d57e5dada054",
      "name": "Send a message3",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes",
            "Status": "New Lead",
            "Follow up needed": "Yes",
            "Created at": "={{ $now }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        -112
      ],
      "id": "71386cdc-e2d3-46d8-8042-eeecc8f0ba4e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes",
            "Status": "New Lead",
            "Follow up needed": "Yes",
            "Created at": "={{ $now }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        80
      ],
      "id": "4a525b2e-8020-4f77-91cb-fa36a7d65b9a",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes",
            "Status": "New Lead",
            "Follow up needed": "Yes",
            "Created at": "={{ $now }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        272
      ],
      "id": "d3a5b228-33d5-49c8-8969-8a319b85bdb4",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes",
            "Status": "New Lead",
            "Follow up needed": "Yes",
            "Created at": "={{ $now }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        464
      ],
      "id": "b8973caf-4a35-497c-962c-fbc27e888b57",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99935629-8c89-45df-9afd-817c43f3b29c",
              "leftValue": "={{ $json['Phone Number'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1456,
        176
      ],
      "id": "1434e78f-cf5c-4a33-8185-63fd494b4311",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        272
      ],
      "id": "0a7a418b-c8ae-4cee-a2b7-2073d1956e4a",
      "name": "Wait",
      "webhookId": "75595eac-4650-491d-a143-1f283b7f1880"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        -112
      ],
      "id": "7ae1ad50-31b3-424c-be61-4dd4fca51c0b",
      "name": "Wait1",
      "webhookId": "75595eac-4650-491d-a143-1f283b7f1880"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        80
      ],
      "id": "18d600ad-2234-4a9d-9530-0e5ceec76954",
      "name": "Wait2",
      "webhookId": "75595eac-4650-491d-a143-1f283b7f1880"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        464
      ],
      "id": "49e43a3e-3782-477d-bd5f-266d1e2744fc",
      "name": "Wait3",
      "webhookId": "75595eac-4650-491d-a143-1f283b7f1880"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        272
      ],
      "id": "c46dae3c-11b5-404d-937e-d9d5246086c5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('On form submission').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -112
      ],
      "id": "2295a430-9d86-4f9a-b488-0975324d8340",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('On form submission').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        80
      ],
      "id": "d95e3857-b901-4f6d-99fa-c1f9a4cb2dd8",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('On form submission').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        464
      ],
      "id": "dad21d9a-434c-437f-b667-f26534fbaf85",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67ed18cb-b5c0-4594-9e99-b95347d77896",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7afd1c6b-6f08-413a-adcf-e3201f7abf13",
              "leftValue": "={{ $json['Follow up needed'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        272
      ],
      "id": "51a900d8-b959-435a-bbac-5f8880a5524c",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d068cf7a-adcb-4963-bf51-6af1dbfa96cf",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "14329ef1-d77b-46bc-8604-2ca715294df6",
              "name": "First Name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "d95a1f42-1b2d-41fd-97f9-2116095ff8aa",
              "name": "Service interested in",
              "value": "={{ $json['Service interested in'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        272
      ],
      "id": "80fb82ba-43b3-4006-bbba-91e0b0eb9654",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Follow-up: Your interest in  {{ $json['Service interested in'] }}",
        "message": "=Hello {{ $json['First Name'] }}, we're following up on your interest in {{ $json['Service interested in'] }}. Kindly let us know if you'd like to proceed. Best regards, TS Academy",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        272
      ],
      "id": "757a91c1-1f2c-4ea2-b545-ed4ccd9e9d24",
      "name": "Send a message4",
      "webhookId": "97d3e7e5-b5f9-483a-9759-2b249df70ada",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67ed18cb-b5c0-4594-9e99-b95347d77896",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7afd1c6b-6f08-413a-adcf-e3201f7abf13",
              "leftValue": "={{ $json['Follow up needed'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -112
      ],
      "id": "7c93d2b6-80af-4eba-a27a-844bb1b596a8",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67ed18cb-b5c0-4594-9e99-b95347d77896",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7afd1c6b-6f08-413a-adcf-e3201f7abf13",
              "leftValue": "={{ $json['Follow up needed'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        464
      ],
      "id": "57989f9c-dfd5-49ed-b3f9-026767615679",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67ed18cb-b5c0-4594-9e99-b95347d77896",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "New Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7afd1c6b-6f08-413a-adcf-e3201f7abf13",
              "leftValue": "={{ $json['Follow up needed'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        80
      ],
      "id": "cbcdfaa2-4d0a-4d68-a3fc-1beda2e03cc2",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d068cf7a-adcb-4963-bf51-6af1dbfa96cf",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "14329ef1-d77b-46bc-8604-2ca715294df6",
              "name": "First Name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "d95a1f42-1b2d-41fd-97f9-2116095ff8aa",
              "name": "Service interested in",
              "value": "={{ $json['Service interested in'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        464
      ],
      "id": "c1098ac7-d189-4f6e-a7a3-0243a4cfea99",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d068cf7a-adcb-4963-bf51-6af1dbfa96cf",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "14329ef1-d77b-46bc-8604-2ca715294df6",
              "name": "First Name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "d95a1f42-1b2d-41fd-97f9-2116095ff8aa",
              "name": "Service interested in",
              "value": "={{ $json['Service interested in'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        80
      ],
      "id": "6b74bebb-6ad0-49d5-8c73-195f8cf2a23b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d068cf7a-adcb-4963-bf51-6af1dbfa96cf",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "14329ef1-d77b-46bc-8604-2ca715294df6",
              "name": "First Name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "d95a1f42-1b2d-41fd-97f9-2116095ff8aa",
              "name": "Service interested in",
              "value": "={{ $json['Service interested in'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -112
      ],
      "id": "e9c305ba-1163-4f6c-8083-6ec26ff8845e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Follow-up: Your interest in  {{ $json['Service interested in'] }}",
        "message": "=Hello {{ $json['First Name'] }}, we're following up on your interest in {{ $json['Service interested in'] }}. Kindly let us know if you'd like to proceed. Best regards, TS Academy",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -112
      ],
      "id": "fd717288-93ac-4986-8cff-b2c0cada7203",
      "name": "Send a message5",
      "webhookId": "97d3e7e5-b5f9-483a-9759-2b249df70ada",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Follow-up: Your interest in  {{ $json['Service interested in'] }}",
        "message": "=Hello {{ $json['First Name'] }}, we're following up on your interest in {{ $json['Service interested in'] }}. Kindly let us know if you'd like to proceed. Best regards, TS Academy",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        80
      ],
      "id": "2da809e9-f2c7-4084-984b-5bfd7938420a",
      "name": "Send a message6",
      "webhookId": "97d3e7e5-b5f9-483a-9759-2b249df70ada",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Follow-up: Your interest in  {{ $json['Service interested in'] }}",
        "message": "=Hello {{ $json['First Name'] }}, we're following up on your interest in {{ $json['Service interested in'] }}. Kindly let us know if you'd like to proceed. Best regards, TS Academy",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        464
      ],
      "id": "49ab7280-ebf8-4538-9060-dab937f4edd8",
      "name": "Send a message7",
      "webhookId": "97d3e7e5-b5f9-483a-9759-2b249df70ada",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow up needed": "No",
            "Follow up sent at": "={{ $now }}",
            "Status": "Follow-up Sent",
            "Email": "={{ $('Edit Fields1').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        272
      ],
      "id": "6e19b252-71c3-4d22-862d-dea650109c1e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow up needed": "No",
            "Follow up sent at": "={{ $now }}",
            "Status": "Follow-up Sent",
            "Email": "={{ $('Edit Fields4').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        -112
      ],
      "id": "f56ac9e5-b7c3-4451-bb8a-90b744b56fb6",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow up needed": "No",
            "Follow up sent at": "={{ $now }}",
            "Status": "Follow-up Sent",
            "Email": "={{ $('Edit Fields3').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        80
      ],
      "id": "6ce8a1da-b913-4bf3-950d-d190134b9518",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Follow up needed": "No",
            "Follow up sent at": "={{ $now }}",
            "Status": "Follow-up Sent",
            "Email": "={{ $('Edit Fields2').item.json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        464
      ],
      "id": "35b025ad-0f7a-41ee-a0fb-cb2fc3949b01",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Hello from TS Academy — How can we help?",
        "message": "=Hello {{ $('Edit Fields').item.json['First Name'] }} , thank you for reaching out to TS Academy. You have selected to chat with our customer agent. Please reply to this email with your question or request, and we will get back to you shortly. Best regards, TS Academy",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -592,
        976
      ],
      "id": "99b679e6-225c-4002-917d-d3692a29f2d7",
      "name": "Send a message8",
      "webhookId": "8de16d86-b5b7-49c3-af5b-848539b3f81c",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "phoneNumber": "2347081631744",
        "message": "=New chat Initiated: {{ $('Edit Fields').item.json['First Name'] }}\nService: {{ $('On form submission').item.json['Service needed'] }}\nEmail: {{ $json.Email }}\nTime: {{ $now }}"
      },
      "type": "n8n-nodes-syncmate.whatsAuto",
      "typeVersion": 1,
      "position": [
        -176,
        976
      ],
      "id": "d0fa09dc-acb3-4f8d-a6c4-66bb295a9500",
      "name": "Send a notification",
      "credentials": {
        "assistroTokenApi": {
          "id": "C0DuxtHmcQetIoDJ",
          "name": "Assistro Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Status": "Responded",
            "Follow up needed": "No",
            "Conversation Status": "Chat Initiated",
            "Last contact": "={{ $now }}",
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes",
            "Follow up sent at": "={{ $now }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up needed",
              "displayName": "Follow up needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created at",
              "displayName": "Created at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow up sent at",
              "displayName": "Follow up sent at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last contact",
              "displayName": "Last contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversation Status",
              "displayName": "Conversation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Booking Intent",
              "displayName": "Booking Intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Date",
              "displayName": "Appointment Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Time",
              "displayName": "Appointment Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        976
      ],
      "id": "1e50a9c6-307a-43ca-adaf-b64de0f37359",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message6": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message7": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message8": {
      "main": [
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "node": "Send a notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0f9c34fe-c2d6-468e-8b2c-e5fd2ad6888e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f4827fa6cfab71f9f130b8f4afa0f8a418dea38f8515dfdc3367cdd6b96d646"
  },
  "id": "9EETPSBE8SnWc2ZE",
  "tags": []
}