News AI agent.json
{
  "name": "News AI agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a real-time news and information assistant. Your job is to answer questions about current events, trending topics, recent news, and live updates across any subject.\n\nRules:\n1. Always search the web before answering questions about news, current events, prices, scores, or anything that changes over time.\n2. When you have search results, cite the source and approximate date of the information.\n3. Be concise. Respond in 3-5 sentences unless the user asks for more detail.\n4. If a search returns no useful results, say so clearly rather than guessing.\n5. Do not use jargon or filler phrases. Get to the point.\n6. If the user asks something unrelated to news or current info (like \"how do I cook rice\"), answer directly without searching.\n\nTone: Direct, neutral, informative. No opinion unless asked.e a helpful assistant",
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "621a7b96-fcec-48db-b4f0-ddf650f64d2a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "f568c80c-b8e0-4007-a1eb-a22c6be3d95d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QcTUP4cDPe3A7tjQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        272
      ],
      "id": "736bae15-1fe5-4cb4-9040-71af33d6a9ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "afe5e090-6ecd-4ca6-810b-a5d6c7902ac3",
      "name": "Telegram Trigger",
      "webhookId": "73ec7547-fca8-4167-829c-2c468b4f3ce3",
      "credentials": {
        "telegramApi": {
          "id": "gYtLq17jFENkDyYk",
          "name": "Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5799458509",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        0
      ],
      "id": "7cbac372-59f3-4e1e-a0b3-4db6ee73a2c2",
      "name": "Send a text message",
      "webhookId": "0324f0a3-7dd3-40de-b34c-29a07ae3946e",
      "credentials": {
        "telegramApi": {
          "id": "gYtLq17jFENkDyYk",
          "name": "Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "54574427-2b3f-46f4-b6a8-a8b5d2a5e118",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "s6NabPrMgbiknjm0",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        384,
        256
      ],
      "id": "8fdecebd-156c-4f0a-ad0f-71e136684156",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "81c37377-af4f-47c5-a5de-5f172e913318",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f4827fa6cfab71f9f130b8f4afa0f8a418dea38f8515dfdc3367cdd6b96d646"
  },
  "id": "JAiQnAMvFC1m8hKt",
  "tags": []
}