Service Based Response.json
{
  "name": "Service Based Response",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Service Request",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Service needed",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Consultation"
                  },
                  {
                    "option": "Sales"
                  },
                  {
                    "option": "Customer Service"
                  },
                  {
                    "option": "Bookings"
                  },
                  {
                    "option": "Chat with Customer Agent"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -512,
        16
      ],
      "id": "c575fcce-3767-4faa-9203-d25240583ff5",
      "name": "On form submission",
      "webhookId": "da70173d-6b57-4a41-bd52-b1e9a0e8a51a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2b7abda-cad3-4dcd-a48f-2437a30b5e7b",
              "name": "First Name",
              "value": "={{ $json['Full Name'].split(\" \")[1] }}",
              "type": "string"
            },
            {
              "id": "870ffbc8-6403-4a5c-bc12-5c2efdc60a00",
              "name": "Last Name",
              "value": "={{ $json['Full Name'].split(\" \")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        16
      ],
      "id": "bb32b16c-e462-458f-9f5c-bc5659f61dc3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Consultation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "596d75c1-0101-4409-a3c7-fcf459fd129f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "consultation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ffc33a3-8632-488f-add4-132f71fd8e13",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "52db1691-18c8-4058-a98a-78fca2bdf40b",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Customer Service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "86890966-e236-4ebd-9dcc-06f1fbf8b006",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Bookings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b01f73c8-0e7e-43e8-8409-98fb97b9860f",
                    "leftValue": "={{ $('On form submission').item.json['Service needed'] }}",
                    "rightValue": "Chat with Customer Agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Agent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        -32
      ],
      "id": "39c9bd7b-9c19-43fc-ab6a-d627326acf69",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Thanks for your interest in {{ $('On form submission').item.json['Service needed'] }}, we'll be in touch shortly. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -272
      ],
      "id": "1a96986b-daf8-43d0-a3ea-e6ce4a19c4ed",
      "name": "Send a message",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Thanks for your interest in {{ $('On form submission').item.json['Service needed'] }}, we'll be in touch shortly. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -80
      ],
      "id": "18dd0f1d-b335-40a4-a562-c52dd339f0e2",
      "name": "Send a message1",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Thanks for your interest in {{ $('On form submission').item.json['Service needed'] }}, we'll be in touch shortly. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        112
      ],
      "id": "ad724fbb-3d4b-47e9-81ff-f3a069696cde",
      "name": "Send a message2",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Request Received",
        "message": "=Thanks for your interest in {{ $('On form submission').item.json['Service needed'] }}, we'll be in touch shortly. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        304
      ],
      "id": "d0501ae3-18c5-4aeb-9d09-1faf1b6850c8",
      "name": "Send a message3",
      "webhookId": "d559ac79-878b-42ff-a1de-adf0d036ceaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "sCMwFpfgKRpunkDl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -272
      ],
      "id": "b4ad8064-b23e-4e7e-91f3-0609445cefe1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -80
      ],
      "id": "9e5742b5-a69b-4c43-a1a8-cd3f6c411103",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        112
      ],
      "id": "991fbca6-b948-4a1e-a7a9-c16331abaf6b",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40",
          "mode": "list",
          "cachedResultName": "Lead Capture",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2060066331,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1apTaQl4eRopHZuMU3uQJBTk-OjYEDeAN90uCD9gtv40/edit#gid=2060066331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full Name": "={{ $('On form submission').item.json['Full Name'] }}",
            "First Name": "={{ $('Edit Fields').item.json['First Name'] }}",
            "Last Name": "={{ $('Edit Fields').item.json['Last Name'] }}",
            "Phone number": "={{ $('On form submission').item.json['Phone Number'] }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Service interested in": "={{ $('On form submission').item.json['Service needed'] }}",
            "Response Sent": "Yes"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service interested in",
              "displayName": "Service interested in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        304
      ],
      "id": "5fde49a5-df2f-40a6-bfbb-69c0733e7714",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7xLzsaxJa22wMuE1",
          "name": "Akogun Imoleayo"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c5a0d82e-1446-4e74-b1b2-863595e0855e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f4827fa6cfab71f9f130b8f4afa0f8a418dea38f8515dfdc3367cdd6b96d646"
  },
  "id": "qgJTekGviWPBTgkj",
  "tags": []
}